name: Run Dagger pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dagger:
    name: Run Dagger pipeline
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
          cache: false

      - name: Run Dagger pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          workdir: .
          verb: run
          args: go run pipeline.go
          version: "0.19.6"
          
      - name: Rename model
        run: cp models/lead_model_lr.pkl models/model.pkl

      - name: Upload models artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: models/model.pkl
 
  test:
    needs: dagger
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Model Inference Test Action
      uses: lasselundstenjensen/itu-sdse-project-model-validator@main
